<div class="background">
    <div class="burger-mneu-button">
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
    </div>
    <ul>
        <li>
            <a href="my-account" routerLink="my-account-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              <img src="/assets/side_bar_icons/user.svg" alt="user-icon" class="icon user-icon">
            </a>
        </li>
        <li>
            <a href="list-courses" routerLink="list-courses-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              <img src="/assets/side_bar_icons/list.svg" alt="list-icon" class="icon list-icon">
            </a>
        </li>
        <li>
          <a href="browse-courses" routerLink="browse-courses-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="/assets/side_bar_icons/earth.svg" alt="earth-icon" class="icon earth-icon">
          </a>
        </li>
        <li>
            <a href="create-course" routerLink="create-course-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              <img src="/assets/side_bar_icons/plus.svg" alt="plus-icon" class="icon plus-icon">
            </a>
        </li>
        <li>
            <img src="/assets/side_bar_icons/arrow-right.svg" alt="arrow-right-icon" class="icon arrow-icon">
        </li>
        <li>
            <img src="/assets/side_bar_icons/close.svg" alt="close-icon" class="icon close-icon">
        </li>
    </ul>
</div>
