.background {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    background: #D8DCFF;
}

.line {
    position: relative;
    width: 32px;
    height: 6px;
    background: #FFA100;
    border-radius: 3px;
}

.line1 {
    left: -4px;
    top: -6px;
}

.line2 {
    left: -4px;
    top: 0px;
}

.line3 {
    left: -4px;
    top: 6px;
}

.icon {
    display: flex;
    width: 60px;
    height: 60px;
    margin-top: 60px;
}

ul {
    list-style-type: none;
    margin-left: 0px;
}

li {
    margin-left: -25px;
}

.folded-in {
    width: 90px;
}

.folded-out {
    width: 420px;
}

button {
    width: 40px;
    height: 40px;
    left: 25px;
    top: 12px;
    position: relative;
}
