/* Styling for the general background of the side bar */

.background {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    background: #D8DCFF;
}

.folded-in {
    width: 90px;
}

.folded-out {
    width: 420px;
}

/* Styling of the burger menu section */

.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
}

.menu-button {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: inline-start;
}

button {
    width: 40px;
    height: 40px;
}

.line {
    width: 24px;
    height: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
    background: #FFA100;
    border-radius: 3px;
}

h1 {
    font-size: 24px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

h1:hover {
    text-decoration: underline;
}

h1.folded-in {
    display: none;
}

/* Styling of the navigation items in the side bar */

.link-container {
    display: block;
    top: 0px;
    left: 0px;
}

.image {
    margin: 15px;
    float: inline-start;
}

.icon {
    width: 60px;
    height: 60px;
}

h2 {
    font-size: 24px;
    font-weight: lighter;
    color: black;
    text-decoration: none;
    height: 90px;
    padding-top: 27px;
}

h2:hover {
    text-decoration: underline;
}

h2.folded-in {
    display: none;
}