<nav>
    <div [ngClass]="{'folded-in': !isSideBarOpen, 'folded-out': isSideBarOpen}" class="background">
      <div class="burger-menu" (click)="toggleSideBar()">
        <div class="menu-heading">
            <h1 [ngClass]="{'folded-in': !isSideBarOpen, 'folded-out': isSideBarOpen}">
              <a href="home" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">StuddyBuddy</a>
            </h1>
          </div>
          
      </div>
  
      <a href="my-account" routerLink="my-account" routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="link-container first-link">
          <div class="image">
            <img src="/assets/side_bar_icons/user.svg" alt="user-icon" class="icon user-icon">
          </div>
          <div class="heading">
            <h2 [ngClass]="{'folded-in': !isSideBarOpen, 'folded-out': isSideBarOpen}">My Area</h2>
          </div>
        </div>
      </a>
  
      <a href="my-courses" routerLink="/my-courses" routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="link-container">
          <div class="image">
            <img src="/assets/side_bar_icons/list.svg" alt="list-icon" class="icon list-icon">
          </div>
          <div class="heading">
            <h2 [ngClass]="{'folded-in': !isSideBarOpen, 'folded-out': isSideBarOpen}">My Courses</h2>
          </div>
        </div>
      </a>
  
      <a href="browse-courses" routerLink="/browse-courses" routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="link-container">
          <div class="image">
            <img src="/assets/side_bar_icons/earth.svg" alt="earth-icon" class="icon earth-icon">
          </div>
          <div class="heading">
            <h2 [ngClass]="{'folded-in': !isSideBarOpen, 'folded-out': isSideBarOpen}">Browse Courses</h2>
          </div>
        </div>
      </a>
  
      <a href="create-course" routerLink="/create-course" routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="link-container">
          <div class="image">
            <img src="/assets/side_bar_icons/plus.svg" alt="plus-icon" class="icon plus-icon">
          </div>
          <div class="heading">
            <h2 [ngClass]="{'folded-in': !isSideBarOpen, 'folded-out': isSideBarOpen}">Create Course</h2>
          </div>
        </div>
      </a>
  
      <a href="home-course" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="link-container" (click)="signOut()">
          <div class="image">
            <img src="/assets/side_bar_icons/close.svg" alt="close-icon" class="icon close-icon">
          </div>
          <div class="heading">
            <h2 [ngClass]="{'folded-in': !isSideBarOpen, 'folded-out': isSideBarOpen}">Log-Out</h2>
          </div>
        </div>
      </a>
    </div>
  </nav>


  