<section class="create-course-form">
  <h1>Add Your Course!</h1>
  <form #createAccountForm="ngForm" (submit)="addCourse()">
    <div class="form-group">
      <input type="number" class="form-control" [(ngModel)]="courseID" name="courseID" placeholder="Course ID" min="0" required="required">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="courseName" name="courseName" placeholder="Course Name" required="required">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="courseDescription" name="courseDescription" placeholder="Course Description">
    </div>
    <p class="errorMsg"> {{ message }}</p>
      <button type="submit" [disabled]="!createAccountForm.form.valid">
        + Add Course
      </button>
  </form>
</section>