<div class="browse-courses">
  <div>
    <h1>Browse Courses</h1>
    <!-- Future feature
    <form>
      <input type="text" value="Search">
    </form>
      <input list="filter-types" name="myBrowser" />
      <datalist id="filter-types">
        <option value="Name">
        <option value="Date">
        <option value="Popularity">
      </datalist>
    -->
  </div>
  <div class="card-container">
    <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
      <div class="inner-box">

      </div>
      <div class="description">
        Curso
      </div>
    </a>
    <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
      <div class="inner-box">

      </div>
      <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
  
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
      
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        
        </div>
        <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="/course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        
        </div>
        <div class="description">
        Curso
      </div>
    </a>
  </div>
</div>