<article class="hoempage">
    <h1 class="homepage-heading">Welcome Buddy!</h1>
    <section class="rounded-rectangle"></section>
    <section class="usp-container">
        <div id="home-text-h2">
            <h2>Rate your courses here!</h2>
            <h2>Connect with your classmates!</h2>
            <h2>Share your experience!</h2>
        </div>
        <div class="home-button-container">
            <a class="home-button-sign-in" href="create-account" routerLink="/create-account" routerLinkActive="active" ariaCurrentWhenActive="page">
                <button id="home-button-sign-in">
                    Sign-Up
                    <img src="/assets/Arrow-right.svg" alt="Arrow-right"> 
                </button>
            </a>
            <a href="browse-courses" routerLink="/browse-courses" routerLinkActive="active" ariaCurrentWhenActive="page">
                <button>
                    Start browsing for courses
                </button>
            </a>
        </div>
    </section>
</article>