<section class="signup-form">
    <h2>Become Our Buddy !</h2>
    <form action="#">
        <div class="form-group">
            <input type="text" [(ngModel)]="favoriteColor" class="form-control" name="first_name" placeholder="First Name" minlength="2" maxlength="32" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="surname" placeholder="Surname" minlength="2" maxlength="32" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="email" placeholder="email" minlength="4" maxlength="32" required>
        </div>
        <div class="form-group">
            <input type="date" class="form-control" name="date_of_birth" placeholder="Date of Birth" min="1930-01-01" max="2010-12-31" required>
         </div>
        <div class="form-group">
            <input type="email" id="email" class="form-control" name="date_of_birth" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" minlength="8" maxlength="25" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="repeat_password" placeholder="Repeat Password" minlength="8" maxlength="25" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required>
        </div>
        <button class="btn" type="submit button">
            Create Account
        </button>
        <a href="log-in" routerLink="/log-in" routerLinkActive="active" ariaCurrentWhenActive="page">You already have an Account?</a>
    </form>
</section>