<div class="signup-form">
    <h2>Become Our Buddy !</h2>
    <form action="#">
        <div class="form-group">
            <input type="text" class="form-control" name="first_name" placeholder="First Name" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="surname" placeholder="Surname" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <input type="date" class="form-control" name="date_of_birth" placeholder="Date of Birth" required>
        </div>
        <div class="form-group">
            <input type="email" id="email" class="form-control" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" (keyup)="checkValidityPassword($event)" minlength="8" maxlength="25" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="repeat_password" placeholder="Repeat Password" (keyup)="checkValidityPassword($event)" minlength="8" maxlength="25" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required>
        </div>
        <button class="btn">
            Create Account
        </button>
        <a href="log-in" routerLink="/log-in" routerLinkActive="active" ariaCurrentWhenActive="page">You already have an Account?</a>
    </form>
</div>