<div class="my-courses">
    <div class="grid-container" *ngIf="dataEntry">
        <h1>{{ dataEntry.title }}</h1>
        <div class="btns">
            <button>
                + Add to my Courses
            </button>
            <a href="review-course" routerLink="/review-course" routerLinkActive="active" ariaCurrentWhenActive="page">
                <button class="review">
                    Evaluate this Course
                </button>
            </a>
        </div>
    </div>
    <div class="course-description" *ngIf="dataEntry">
        <p>{{ dataEntry.description }}</p>
    </div>
    <div class="review-container">
        <div class="review-box">
            <h2>Miguel Mustermán</h2>
            <p class="accoutn-details">Nationality | Date Created</p>
            <p class="review">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Blanditiis explicabo consequuntur beatae tenetur quae nihil, 
                veniam quidem ipsa impedit quas eum doloribus natus, excepturi ab id tempora, non molestias eveniet?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Facere saepe omnis quasi quibusdam illo atque accusamus accusantium ducimus. 
                Nostrum numquam magni quam adipisci, tenetur ratione eos laudantium reiciendis expedita cupiditate!
            </p>
        </div>
        <div class="review-box">
            <h2>Miguel Mustermán</h2>
            <p class="accoutn-details">Nationality | Date Created</p>
            <p class="review">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Blanditiis explicabo consequuntur beatae tenetur quae nihil, 
                veniam quidem ipsa impedit quas eum doloribus natus, excepturi ab id tempora, non molestias eveniet?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Facere saepe omnis quasi quibusdam illo atque accusamus accusantium ducimus. 
                Nostrum numquam magni quam adipisci, tenetur ratione eos laudantium reiciendis expedita cupiditate!
            </p>
        </div>
    </div>
</div>