<div class="my-courses">
    <div class="grid-container" *ngFor="let content of contentData">
        <h1>My Course Title {{content.title}}</h1>
        <div class="btns">
            <button>
                + Add to my Courses
            </button>
            <a href="review-course" routerLink="/review-course" routerLinkActive="active" ariaCurrentWhenActive="page">
                <button class="review">
                    Evaluate this Course
                </button>
            </a>
        </div>
    </div>
    <p class="course-description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Illum aspernatur autem non. Numquam, quod dolorem, perspiciatis quisquam aut nam sequi facere repellendus odit architecto itaque? 
        Quis rem minima consequatur delectus! <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Iure vero voluptatem molestias officiis tempora nostrum, corrupti qui minima dolores a.
        Voluptate sunt magni illo ipsam? Dolorem maxime doloribus totam iusto.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Atque libero soluta sed quae voluptas error magnam ipsa incidunt, ullam esse eveniet officia aut rerum animi sunt. 
        Recusandae aspernatur molestiae velit!
    </p>
    <div class="review-container">
        <div class="review-box">
            <h2>Miguel Mustermán</h2>
            <p class="accoutn-details">Nationality | Date Created</p>
            <p class="review">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Blanditiis explicabo consequuntur beatae tenetur quae nihil, 
                veniam quidem ipsa impedit quas eum doloribus natus, excepturi ab id tempora, non molestias eveniet?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Facere saepe omnis quasi quibusdam illo atque accusamus accusantium ducimus. 
                Nostrum numquam magni quam adipisci, tenetur ratione eos laudantium reiciendis expedita cupiditate!
            </p>
        </div>
        <div class="review-box">
            <h2>Miguel Mustermán</h2>
            <p class="accoutn-details">Nationality | Date Created</p>
            <p class="review">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Blanditiis explicabo consequuntur beatae tenetur quae nihil, 
                veniam quidem ipsa impedit quas eum doloribus natus, excepturi ab id tempora, non molestias eveniet?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Facere saepe omnis quasi quibusdam illo atque accusamus accusantium ducimus. 
                Nostrum numquam magni quam adipisci, tenetur ratione eos laudantium reiciendis expedita cupiditate!
            </p>
        </div>
    </div>
</div>