<div class="card-container">
    <a href="course-details" routerLink="course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
      <div class="inner-box">
  
      </div>
      <div class="description">
        Curso
      </div>
    </a>
    <a href="course-details" routerLink="course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
      <div class="inner-box">
  
      </div>
      <div class="description">
        Curso
      </div>
    </a>
      <a href="course-details" routerLink="course-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="card">
        <div class="inner-box">
        </div>
        <div class="description">
         Curso
      </div>
    </a>
</div>