.my-courses {
    margin: 12px;
    padding: 12px 24px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
  
h1 {
    font-size: 60px;
    font-weight: bolder;
}

button {
    background-color: #ffa100;
    border: none;
    font-weight: bolder;
    font-size: 24px;
    border-radius: 24px;
    padding: 15px;
    line-height: 48px;
    vertical-align: middle;
}