<div class="signup-form">
  <h2>Welcome !</h2>
  <form>
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Email" required="required">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" required="required">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </div>
    <div class="form-group">
      <a href="#">Forgot Password?</a>
      <a href="#">I don't have an Account yet</a>
    </div>
  </form>
</div>
