<footer class="footer">
    <div class="logo">
      <a href="home" routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="/assets/StuddyBuddy_logo.png" alt="StuddyBuddy_Logo"></a>
    </div>
    <div class="links">
      <a href="about-us" routerLink="about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>
      <a href="contact" routerLink="contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
      

    </div>
    <div class="socialMediaLogo">
      <img src="/assets/social_media_icons/icons8-youtube.svg" alt="YouTube_logo">
      <img src="/assets/social_media_icons/icons8-instagram.svg" alt="Instagram_logo">
      <img src="/assets/social_media_icons/icons8-twitter.svg" alt="Twitter_logo">
      <img src="/assets/social_media_icons/icons8-facebook.svg" alt="Facebook_logo">
    </div>

    <p>&copy; ULPGC 2023</p>
</footer>
