@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
  }
    
  a {
    color: #000000;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .h1 {
    font-weight: bolder;
  }
  
  /* Klassen */
  .sidebar {
    background-color: #f1f1f1;
    color: #333;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
  }

  .footer {
    background-color: #0066A1;
    color: #fff; /* Weißer Text */
    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px; /* Abstand des Inhalts vom Rand */
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  .footer a {
    color: #fff; /* Weiße Link-Textfarbe */
    margin-right: 20px; /* Abstand zwischen den Links */
    
  }
  
  .logo > img{
    width: 50px; /* Anpassen der Breite des Logos (Icons) */
    height: 40px; /* Anpassen der Höhe des Logos (Icons) */
    float: left; /* Links ausrichten */
    /* Weitere Styling-Optionen */
  }
  
  .links {
    float: left; /* Links ausrichten */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    flex-grow: 1;
  }

  .socialMediaLogo > img{
    width: 50px; /* Anpassen der Breite des Logos (Icons) */
    height: 40px; /* Anpassen der Höhe des Logos (Icons) */
    float: right; /* Links ausrichten */
    /* Weitere Styling-Optionen */
  }