@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  a {
    color: #000000;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .h1 {
    font-weight: bolder;
  }

  /* Klassen */
  .footer {
    background-color: #0066A1;
    color: #fff; /* Weißer Text */
    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 20px; /* Abstand des Inhalts vom Rand */
    padding-bottom: 20px;
    padding-right: 1.5%;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .footer a {
    color: #fff; /* Weiße Link-Textfarbe */
    margin-right: 20px; /* Abstand zwischen den Links */

  }

  .logo > a > img{
    width: 55px; /* Anpassen der Breite des Logos (Icons) */

    float: left; /* Links ausrichten */
    margin-left: 20px;

    size: 180%;
    /* Weitere Styling-Optionen */
  }

  .links {
    float: left; /* Links ausrichten */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    flex-grow: 1;
    padding-left: 0%;
  }


  .socialMediaLogo{
    padding-right: 2%;
  }

  .socialMediaLogo > img{
    width: 20%; /* Anpassen der Breite des Logos (Icons) */ /* Anpassen der Höhe des Logos (Icons) */
    text-align: center; /* Links ausrichten */
    justify-content: center;
    margin-right: 10px;
    /* Weitere Styling-Optionen */
    padding-right: 4%;
  }

