<div class="card-container">
    <div class="card">
      <div class="inner-box">

      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">

      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
 
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
       
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
     
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
       
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
       
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
       
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
       
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
       
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
       
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
       
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
       
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
       
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
       
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
       
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
       
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
       
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
       
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
       
      </div>
      <div class="description">
        Curso
      </div>
    </div>
    <div class="card">
      <div class="inner-box">
       
      </div>
      <div class="description">
        Curso
      </div>
    </div>
  </div>
  