<div class="hoempage">
    <h1 class="homepage-heading">Welcome, Buddy !</h1>
    <div class="rounded-rectangle"></div>
    <div class="usp-container">
        <div>
            <h2>Rate your courses here!</h2>
            <h2>Connect with your classmates!</h2>
            <h2>Share your experience.</h2>
        </div>
        <div>
            <a href="create-account" routerLink="/create-account" routerLinkActive="active" ariaCurrentWhenActive="page">
                <button>
                    Sign-Up
                    <img src="/assets/Arrow-right.svg" alt="Arrow-right"> 
                </button>
            </a><br>
            <a href="browse-courses" routerLink="/browse-courses" routerLinkActive="active" ariaCurrentWhenActive="page">
                <button>
                    Start browsing for courses
                </button>
            </a>
        </div>
    </div>
</div>