/* Desktop */
app-nav-bar {
  height: 60px;
  width: 100%;
}

app-side-bar {
  width: 90px;
  left: 0px;
  margin-bottom: 106px;
}

main {
  margin-top: 60px;

  margin-bottom: 106px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  margin: 0;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Tablet-spezifische Stile hier, wenn nötig... */
}

/* Movíl */
@media (max-width: 767px) {
  app-nav-bar {
    width: 100%;
  }
  app-side-bar {
    display: none;
  }
  .footer {
    margin: 0 0 0 0; /* benötigt, falls erforderlich */
  }
}
