@media (pointer:fine){
  app-nav-bar {
    height: 60px;
    width: 100%;
  }
  
  app-side-bar {
    width: 90px;
    left: 0px;
    margin-bottom: 106px;
  }
  
  main{
    margin-top: 60px;
    margin-left: 90px;
    margin-bottom: 106px;
  }
}

@media (pointer:coarse){
  app-nav-bar {
    width: 100%;
  }
  app-side-bar {
    display: none;
  }
  .footer{
    margin: 0 0 0 0;  /*needed ??? */
  }
}
