/* Desktop */
@media screen and (min-width: 1024px) {
    .my-courses {
        margin: 12px 8%;
        padding: 16px 24px;
    }
    
    .grid-container {
        max-width: 1000px;
        display: grid;
        grid-template-columns: auto auto;
    
    }

    .star-avg {
        font-size: 165%;
        margin: 0 0 40px 1px;
    }
    
    .username-rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px 0 0;
    }

    .username-rating .username {
        font-weight: bold;
        font-size: 1.17em;

    }
      
    h1 {
        font-size: 52px;
        font-weight: bolder;
        margin-bottom: 10px;
    }
      
    
    .btns {
        margin: 5px 0 30px 0;
        padding: 0 10px 0 0;
    }

    .btn1{
        margin-right: 20px;
    }
    
    button {
        background-color: #ffa100;
        color: white;
        border: none;
        font-weight: bolder;
        font-size: 20px;
        border-radius: 24px;
        padding: 10px 16px;
        line-height: 48px;
        margin: 12px 0;
    }
    
    button:hover {
        cursor: pointer;
        transform: scale(1.05); /* Vergrößerungsfaktor */
        transition: transform 0.1s ease-in-out; /* Übergangseffekt */
        background-color: #0066A1;
        color: white;
    }
    
    p {
        max-width: 1000px;
    }
    
    .review-box {
        max-width: 1000px;
        background-color: #D8DCFF;
        border-radius: 24px;
        padding: 12px 4%;
        padding-bottom: 18px;
        margin: 45px 0 20px 0;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .my-courses {
        margin: 12px 4%;
        padding: 16px 24px;
    }

    .star-avg {
        font-size: 165%;
        margin: 15px 0 40px 0;
    }
    
    .grid-container {
        max-width: 1000px;
        display: grid;
        grid-template-columns: auto auto;
    
    }

    .username-rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px 0 0;
    }

    .username-rating .username {
        font-weight: bold;
        font-size: 1.17em;

    }
      
    h1 {
        font-size: 52px;
        font-weight: bolder;
    }
    
    .btns {
        margin: auto;
    }
    
    button {
        background-color: #ffa100;
        color: white;
        border: none;
        font-weight: bolder;
        font-size: 20px;
        border-radius: 24px;
        padding: 10px 16px;
        line-height: 48px;
        margin: 10px 0 30px 0;
    }

    .btn1{
        margin-right: 20px;
    }
    
    button:hover {
        cursor: pointer;
        transform: scale(1.05); /* Vergrößerungsfaktor */
        transition: transform 0.1s ease-in-out; /* Übergangseffekt */
        background-color: #0066A1;
        color: white;
    }
    
    
    p {
        max-width: 1000px;
    }
    
    .review-box {
        max-width: 1000px;
        background-color: #D8DCFF;
        border-radius: 24px;
        padding: 12px 4%;
        padding-bottom: 18px;
        margin: 24px 0px;
    }
}


/* Mobile */
@media screen and (max-width: 767px) {
    .my-courses {
        margin: 0 5%;
        padding: 0 24px;
    }
    
    .grid-container {
        max-width: 1000px;
        display: grid;
        grid-template-columns: auto;
    
    }

    .star-avg {
        font-size: 165%;
        margin: 15px 0 40px 0;
    }
    
      
    h1 {
        font-size: 52px;
        font-weight: bolder;
        margin-bottom: 10px;
    }

    .username-rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px 0 0;
    }

    .username-rating .username {
        font-weight: bold;
        font-size: 1.17em;

    }
    
    .btns {
        margin: auto;
    }

    .btn1{
        margin-right: 20px;
    }
    
    button {
        background-color: #ffa100;
        color: white;
        border: none;
        font-weight: bolder;
        font-size: 20px;
        border-radius: 24px;
        padding: 10px 16px;
        line-height: 48px;
        margin: 12px 0;
        width: 290px;
    }
    
    button:hover {
        cursor: pointer;
        transform: scale(1.05); /* Vergrößerungsfaktor */
        transition: transform 0.1s ease-in-out; /* Übergangseffekt */
        background-color: #0066A1;
        color: white;
    }
    
    
    p {
        max-width: 1000px;
    }
    
    .review-box {
        max-width: 1000px;
        background-color: #D8DCFF;
        border-radius: 24px;
        padding: 12px 4%;
        padding-bottom: 18px;
        margin: 24px 0px;
    }
}