p{
    padding-left: 20px;
    margin-left: 20px;
    background-color: lightblue;
}
.container {
    margin-left: 20px;
    padding-left: 20px;
    background-color: beige;    
}

.card{
    display: grid;
    grid-template-columns: 40% 40%;
    background-color: red;
    margin: 5px;
    padding: 5px;
}