@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 18px;
}
/*app-nav-bar {
    top: 0px;
    width: 94%;
    height: 5%;
    right: 0px;
}

app-footer {
    bottom: 0px;
    width: 94%;
    height: 5%;
    right: 0px;
}

app-side-bar{
    width: 6%;
    height: 100%;
    left: 0px;
}*/