app-nav-bar {
  height: 60px;
  width: 100%;
}

app-side-bar {
  width: 90px;
  left: 0px;
  margin-bottom: 106px;
}

main {
  margin-left: 90px;
}

app-home {
  top: 0px !important;
  margin-top: 60px !important;
  width: 100%;
}

footer {
  width: 100%;
  bottom: 0px;
}

main{
  margin-top: 60px;
  margin-left: 90px;
  
}

app-footer {
  width: 100%;
  bottom: 0px;
  height: 70px;
}

app-my-account {
  height: 100%;
}