<div class="about-us">
    <h1>About Us</h1>
    <!-- <h2>External Media Sources</h2>
        <p>Social Media Logos provided by 
            <a href="https://www.icons8.com">www.icons8.com</a>
        </p>  -->
    
    <h2>Contact Us</h2>
    <div class="contact-info">
        <div>
            Created by
        </div>
        <div>
            Alexander Schranner, Karl Deilman, Karl Kroneberg 
            for Programación Web y Móvil
        </div>
        <div>
            eMail:
        </div>
        <div>
            max.mustermann@studdybuddy.de
        </div>
        <div>
            Address:
        </div>
        <div>
            <Address>
                StuddyBuddyName<br>
                StuddyBuddyStreet 1<br>
                11111 StuddyBuddyCity<br>
            </Address>
        </div>
    </div>
</div>

