<article class="my-area">
  <h1>My Area</h1>
  <picture class="profilePic">
    <img src="{{ user.profilePicture }}" alt="profile picture" width="100" height="120">       <!-- Check dimensions-->
  </picture>
  <section class="my-data">
    <h2>My Data</h2>
      <div class="my-data-content">
        <p>Name: {{ user.firstName }} {{ user.surname }}</p>
        <p>Date of Birth: {{ user.dateOfBirth }}</p>
        <p>Number of Evaluations: {{ user.courses.length }}</p>
        <p>E-Mail: {{ user.email }}</p>
      </div>
  </section>
  <section class="my-evaluations-box">
      <h2>My Evaluations</h2>
      <div class="my-evaluations-content">
        <ul *ngFor="let evaluation of ">
          <li>{{ evaluation }}</li>
        </ul>
      </div>
  </section>
</article>
