.my-area {
   margin: 12px 80px;
   padding: 12px 24px;
}

.my-data {
   margin-top: 50px;
   border-radius: 10px;
   background-color: #D8DCFF;
   padding: 30px 8%;
   margin-bottom: 40px;
   padding-bottom: 40px;
}

.my-evaluations-box {
   border-radius: 10px;
   background-color: #D8DCFF;
   padding: 35px 8%;
   padding-bottom:45px;
   margin-top: 30px;
   margin-bottom: 190px;
   box-sizing: border-box;
}

.my-data h2, .my-evaluations-box h2 {
   margin-bottom: 25px;
   margin-top: 10px;
}

.my-data-content p, .my-evaluations-content p {
   font-size: 16px;
}

.profilePic{
   background-color: #D8DCFF;
   border-style: double;
   border-width: 4px;
   margin: auto;
}

.sec {
   display: grid;
   grid-template-columns: 108px auto;
}

@media (max-width: 767px) {
   .sec {
      display: inline;
   }

   .my-area {
      margin: 12px;
      padding: 12px;
   }
}