.my-courses {
    margin: 12px 4%;
    padding: 16px 24px;
}

.grid-container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: auto auto;

}
  
h1 {
    font-size: 52px;
    font-weight: bolder;
    color: #0066A1;
}

.btns {
    margin: auto;
}

button {
    background-color: #ffa100;
    border: none;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 24px;
    padding: 10px 16px;
    line-height: 48px;
    margin: 12px 24px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05); /* Vergrößerungsfaktor */
    transition: transform 0.1s ease-in-out; /* Übergangseffekt */
    background-color: #0066A1;
    color: white;
}


p {
    max-width: 1000px;
}

.review-box {
    max-width: 1000px;
    background-color: #D8DCFF;
    border-radius: 24px;
    padding: 12px 4%;
    padding-bottom: 18px;
    margin: 24px 0px;
}