/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
    /* Font */
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 18px;
    
    /* Layout */
    margin: 0px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 35px;
}
