<div class="signup-form">
  <h2>Become Our Buddy !</h2>
  <form>
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Email" required="required">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" required="required">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Repeat Password" required="required">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
    </div>
  </form>
</div>
  
